# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# https://gist.github.com/bsara/35ade5031d120c08adad
#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#
# dotenv environment variables file
.env
.env.local

# output
/.temp
/.tmp
/build
/dist

# dependencies
/node_modules
.package.swp

# linters
.eslintcache/
.eslintrc
.eslintrc.yaml
.eslintrc.json
.eslintrc.js
.stylelintcache/
.stylelintrc
.stylelintrc.yaml
.stylelintrc.json
.stylelintrc.js

# misc
/connect.lock
/coverage/*
/report_*
/reports/
.sass-cache/
*.log

