/* Episode profile page */

.episode-main {
    width: 80vw;
    margin: 20px auto;
}

.episode-details {
    background-color: var(--card-background-color);
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
}


/* Characters list page */

.characters-main {
    width: 95vw;
    margin: 20px auto;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Character profile page */

.character-main {
    width: 90vw;
    margin: 0 auto;
}

.character-title {
    text-align: center;
    border-bottom: 1pt solid var(--app-bar-background-color);
    margin:10px;
    padding: 20px;
}

.character-content {
    display: flex;
}
.character-column {
    flex-basis: 50%;
    padding: 0 15px;
}

.character-column .tb-card-title {
    text-align: center;
}


.starships-list-title.heading-sub{
    color: var(--subtitle-font-color);
    font-size: 1.9em;
    text-align: center;
    border-bottom: 1pt solid var(--subtitle-font-color);
    padding-bottom: 10px;
    margin: 35px 0 15px 0;
}

/* LR Card */

.tiny-lr-card {
    --card-img-width: 60px;
    --card-title-font-size: 1.3em;
    --card-subtitle-font-size: 1em;
    max-width: 100%;
}

.small-lr-card {
    --card-img-width: 80px;
    --card-title-font-size: 1.3em;
    --card-subtitle-font-size: 1em;
    max-width: 32%;
}

.big-lr-card {
    --card-img-width: 25vw;
    --card-title-font-size: 2em;
    --card-subtitle-font-size: 1.6em;
    max-width: 100%;
}

.lr-card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
}

.lr-card-photo {
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    height: var(--card-img-width);
    width: var(--card-img-width);
}

.lr-card-details {
    padding: 15px 20px;
    align-self: center;
    margin: auto;
    text-align: center;
}

.lr-card-title {
    font-size: var(--card-title-font-size);
}

.lr-card-subtitle {
    font-size: var(--card-subtitle-font-size);
    font-weight: bolder;
}

@media screen and (max-width: 530px) {
    .big-lr-card .lr-card-photo {
        height: initial;
    }
    .episode-main {
        width: 90vw;
    }
    .small-lr-card {
        max-width: 100%;
    }
}

@media screen and (min-width: 531px) and (max-width: 790px) {
    .episode-main {
        width: 90vw;
    }
    .small-lr-card {
        max-width: 45%;
    }
}

@media screen and (min-width: 791px) {
    .episode-main {
        width: 75vw;
    }
    .big-lr-card {
        --card-img-width: 40vw;
    }
    .lr-card-photo {
        max-height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .episode-main {
        width: 800px;
    }
    .big-lr-card {
        --card-img-width: 300px;
    }
}
