.episode-main {
    width: 80vw;
    margin: 20px auto;
}
.characters-main {
    width: 95vw;
    margin: 20px auto;
}

.big-lr-card {
    --card-img-width: 25vw;
    --card-title-font-size: 2em;
    --card-subtitle-font-size: 1.6em;
    max-width: 100%;
}

.episode-details {
    background-color: var(--card-background-color);
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
}

.description-highlight {
    color: var(--hihglihgt-color);
}

.small-lr-card {
    --card-img-width: 80px;
    --card-title-font-size: 1.3em;
    --card-subtitle-font-size: 1em;
    max-width: 32%;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lr-card {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
}

.lr-card-photo {
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    height: var(--card-img-width);
    width: var(--card-img-width);
}

.lr-card-details {
    padding: 15px 20px;
    align-self: center;
    margin: auto;
    text-align: center;
}

.lr-card-title {
    color: var(--heading-main-font-color);
    font-size: var(--card-title-font-size);
    font-weight: bold;
}

.lr-card-subtitle {
    font-size: var(--card-subtitle-font-size);
    font-weight: bolder;
}

@media screen and (max-width: 530px) {
    .big-lr-card .lr-card-photo {
        height: initial;
    }
    .episode-main {
        width: 90vw;
    }
    .small-lr-card {
        max-width: 100%;
    }
}

@media screen and (min-width: 530px) and (max-width: 790px) {
    .episode-main {
        width: 90vw;
    }
    .small-lr-card {
        max-width: 45%;
    }
}

@media screen and (min-width: 790px) {
    .big-lr-card {
        --card-img-width: 40vw;
    }
    .lr-card-photo {
        max-height: 200px;
    }
}
